@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  .react-datepicker__header {
    background-color: white;
    border: none;
  }
  .react-datepicker__month-container {
    padding: 15px;
  }
}

@layer base {
  .btn_large {
    @apply flex w-[700px] h-[80px] justify-center items-center bg-[#222] text-white text-2xl font-bold;
  }
  .btn_medium_1 {
    @apply flex w-[444px] h-[80px] justify-center items-center bg-[#222] text-white text-2xl font-bold;
  }
  .btn_medium_2_fill {
    @apply flex w-[350px] h-[80px] justify-center items-center bg-[#222] text-white text-2xl font-bold;
  }
  .btn_medium_2_unfill {
    @apply flex w-[350px] h-[80px] justify-center items-center bg-transparent text-[#222] border-[1px] border-[#222] text-2xl;
  }
  .btn_small_fill {
    @apply flex w-[198px] h-[80px] justify-center items-center bg-[#222] text-white text-xl font-normal;
  }
  .btn_small_unfill {
    @apply flex w-[198px] h-[80px] justify-center items-center bg-transparent text-[#222] border-[1px] border-[#222] text-xl;
  }
  .btn_tiny {
    @apply flex w-[130px] h-[80px] justify-center items-center bg-transparent text-[#222] border-[1px] border-[#222];
  }
  .btn_extra_small {
    @apply flex w-[70px] h-[33px] justify-center items-center bg-transparent text-[#888] border-[1px] border-[#d9d9d9] text-sm;
  }
}
